* {
  all: unset;
}

// Variable Color's
$color-bg-main: #1A1B26;
$color-text-main: #A9B1D6;
$color-bg-accent: #24283B;
$color-border: #565F89;
$color-error: #F7768E;
$color-success: #73DACA;
$color-warning: #E0AF68;
$color-link: #7AA2F7;
$color-highlight: #BB9AF7;
$color-info: #7DCFFF;
$color-text-muted: $color-text-main;


// Launcher
.launcher_icon {
  color: $color-info;
  padding: 0px 5px 0 10px;
  font-size: 20px;
}

.control {
  padding: 0 3px 0 3px;
  border-radius: 5px;
}

.battery {
  padding-right: 5px;
}

.bat {
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  color: $color-highlight;
}

.symbol {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  color: $color-text-main
}

.coffee {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 15px;
  padding-right: 10px;
  color: $color-text-main
}


.bat-per {
  padding-right: 2px;
  padding-left: 6px;
}

.brightness-icon {
  color: $color-warning;
}

.volume-icon {
  color: $color-success;
}

slider {
  border-radius: 10px;
  background-color: $color-bg-main;
  margin: -7px -7px -7px -7px;
}

.powermenu {
  font-size: 18px;
  font-weight: bold;
}

.button-reboot,
.button-shutdown,
.button-lock {
  padding-left: 7px;
  padding-right: 5px;
}

.button-reboot {
  color: $color-warning;
}

.button-shutdown {
  color: $color-error;
}

.button-lock {
  color: $color-highlight;
}

scale trough {
  all: unset;
  box-shadow: 0 1px 2px 1px #06060b;
  background-color: $color-bg-main;
  border-radius: 5px;
  min-height: 20px;
  min-width: 80px;
  margin: 0px 10px 0px 5px;
}

.bribar trough highlight {
  background-image: linear-gradient(to right, $color-warning 30%, $color-warning 50%, $color-warning 100% *50);
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $color-success;
  border-radius: 5px;
}

.time {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 15px;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  color: $color-text-main
}

.bluetooth {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

.wifi {
  padding-right: 10px;
}

.workspaces {
  font-size: 13px;
  font-weight: normal;
}

.workspace {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

.workspace-active {
  color: $color-highlight;
}

.workspace-empty {
  color: $color-border;
}

.workspace-contains {
  color: $color-text-main;
}

.mic {
  color: $color-text-main;
  padding-right: 4px;
  padding-left: 2px;
}

.system-button {
  font-size: 18px;
  background: $color-bg-main;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid $color-text-main;
  margin: 5px;
}

.system-button:hover {
  background: $color-success;
}

.calendar-box {
  background: $color-bg-main;
  color: $color-text-main;
  padding: 5px;
  border-radius: 5px;
}

calendar:selected {
  color: $color-highlight;
}

calendar.header {
  color: $color-highlight;
  font-weight: bold;
}

calendar.button {
  color: $color-highlight;
}

calendar.highlight {
  color: $color-highlight;
  font-weight: bold;
}

calendar:indeterminate {
  color: $color-bg-main;
}

.right {
  padding-right: 7px;
}

* {
  all: unset;
}

// Variable Color's
$background: #1A1B26;
$foreground: #A9B1D6;
$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.notification-box {
  background-color: rgba($background, 0.8);
  color: $foreground;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  /* made more rounded */
  /* padding: 0.3em 0.3em; */
  font-size: 1em;
  box-shadow: 0 4px 14px #0005;
  border: 2px $blue solid;
}

.header {
  padding-top: 5px;
  font-size: 2em;
  font-weight: bold;
}

.dismiss-button {
  background: transparent;
  color: $foreground;
  border: none;
  font-size: 1em;
  transition: color 0.2s;
  font-weight: bold;
}

.dismiss-button:hover {
  color: $red;
}

.notification-item {
  padding-right: 0.2em;
}

.notification-icon {
  padding-left: 1em;
  padding-right: 1em;
}

.title {
  font-weight: bold;
}

.card {
  background-color: $black;
  border-radius: 15px;
  margin: 1em;
  padding: 0.5em;
}