* {
	all: unset;
}

// Variable Color's
$background: #1A1B26;
$foreground: #A9B1D6;
$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.notification-box {
	background-color: rgba($background, 0.8);
	color: $foreground;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 10px;
	/* made more rounded */
	/* padding: 0.3em 0.3em; */
	font-size: 1em;
	box-shadow: 0 4px 14px #0005;
	border: 2px $blue solid;
}

.header {
	padding-top: 5px;
	font-size: 2em;
	font-weight: bold;
}

.dismiss-button {
	background: transparent;
	color: $foreground;
	border: none;
	font-size: 1em;
	transition: color 0.2s;
	font-weight: bold;
}

.dismiss-button:hover {
	color: $red;
}

.notification-item {
	padding-right: 0.2em;
}

.notification-icon {
	padding-left: 1em;
	padding-right: 1em;
}

.title {
	font-weight: bold;
}

.card {
	background-color: $black;
	border-radius: 15px;
	margin: 1em;
	padding: 0.5em;
}